* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  width: 80%;
  position: relative;
}

.carousel-track {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(200px, 290px);
  gap: 20px;
  overflow-x: auto;
}

.image-wrapper {
  position: relative;
  & .price {
    padding: 4px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: black;
  }
}

.price {
  font-size: 12px;
}

.product-tile {
  list-style: none;
  .product-info {
    & > * {
      margin-top: 5px;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

button {
  position: absolute;
  top: 50%;
  padding: 10px;
  cursor: pointer;
  &:active {
    background-color: black;
    color: white;
  }
}

.prev-btn {
  transform: translate(-50%, -50%);
}

.next-btn {
  right: 0;
  transform: translate(50%, -50%);
}
